* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  max-width: 1450px;
  overflow-x: hidden;
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  text-rendering: optimizeLegibility;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
}
.cabecalho-itens {
  display: flex;
}
.cabecalho-itens a {
  padding: 0 20px;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
}
.cabecalho-itens .box-contato,
.cabecalho-itens a:hover {
  background-color: #3bbbf1;
  color: #fff;
  border-radius: 14px;
}
.cabecalho-itens .box-contato {
  margin-left: 8px;
}
.cabecalho-itens li {
  list-style-type: none;
}
.cabecalho-itens .menu-segmentos {
  position: absolute;
  right: 150px;
  width: 190px;
  font-size: 20px;
}
@media (max-width: 1025px) {
  .cabecalho-itens {
    display: none;
  }
}
.menu-segmentos {
  display: none;
  position: absolute;
  margin-top: 57px;
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: #000;
}
.menu-segmentos a:hover {
  background-color: #000;
  color: #00f;
}
.menu-segmentos-resp {
  display: none;
  padding: 0px 15px;
}
.menu-segmentos-resp a {
  color: #3bbbf1;
}
.menu-segmentos-resp a:hover {
  color: #fff;
}
.icon-menu,
.icon-close {
  display: none;
}
.menu-responsivo {
  display: none;
  position: absolute;
  right: 2px;
  margin-top: 57px;
  padding: 12px;
  flex-wrap: wrap;
  background-color: #000;
}
.menu-responsivo a {
  text-decoration: none;
  color: #fff;
}
.menu-responsivo a:hover {
  color: #3bbbf1;
}
.menu-responsivo li {
  list-style-type: none;
}
@media (max-width: 1025px) {
  .icon-menu {
    display: block;
    margin-right: 5px;
  }
}
.inicio {
  display: flex;
  justify-content: space-between;
  padding: 2% 7%;
  font-size: 1em;
}
.inicio h1 {
  color: #000;
  font: 2.6em "Hammersmith One", sans-serif;
}
.inicio hr {
  width: 100px;
  height: 3px;
  border-color: #3bbbf1;
  background-color: #3bbbf1;
}
.inicio img {
  width: 600px;
  margin-top: 70px;
}
.box-texto {
  font-size: 0.9em;
  margin-top: 4%;
  color: #000;
}
.btn-saiba {
  border: none;
  border-radius: 15px;
  width: 145px;
  height: 40px;
  font-size: 18px;
  background-color: #3bbbf1;
  color: #fff;
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .inicio h1 {
    font-size: 2.2em;
  }
  .inicio img {
    width: 470px;
  }
  .flutuante {
    min-width: 55%;
    margin-left: 22%;
  }
  .flutuante02 {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 1200px) {
  .inicio h1 {
    font-size: 2.2em;
  }
  .inicio img {
    width: 470px;
  }
}
@media (max-width: 1025px) {
  .inicio {
    flex-direction: column;
    align-items: center;
  }
  .intro {
    margin-top: 40px;
  }
}
.apresentacao {
  background-image: url("../img/apresentacao/aerial-view-of-business-data-analysis-graph1.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}
.flutuante {
  background-color: rgba(0,0,0,0.815);
  margin-left: 60%;
  width: 26%;
  padding: 10px;
}
.flutuante img {
  width: 60%;
}
@media (max-width: 1200px) {
  .flutuante {
    min-width: 55%;
    margin-left: 22%;
  }
}
@media (max-width: 600px) {
  .apresentacao {
    display: flex;
    justify-content: center;
  }
  .apresentacao .flutuante {
    margin-left: 0;
    width: 70%;
  }
}
.segmentos {
  padding: 30px;
  background-color: rgba(15,15,15,0.808);
  color: #fff;
  text-align: center;
}
.segmentos hr {
  margin-top: 30px;
  background-color: #16f028;
  border: #0895d1;
  height: 2.7px;
}
.segmentos-p1 {
  display: flex;
  justify-content: space-around;
}
.segmentos-p1 div {
  font-size: 0.7em;
  padding: 3px;
  width: 30%;
  height: 40%;
  border-radius: 10px;
  box-shadow: 8px 5px 5px rgba(0,0,0,0.164);
  background-color: #fff;
  color: #000;
}
@media (max-width: 840px) {
  .segmentos-p1 {
    flex-direction: column;
    align-items: center;
  }
  .segmentos-p1 div {
    font-size: 0.8em;
    width: 55%;
    margin: 20px;
  }
  .p2 {
    margin-top: -40px;
  }
}
@media (max-width: 600px) {
  .segmentos-p1 div {
    width: 85%;
  }
}
.descricacao-de-segmentos {
  display: flex;
  padding: 40px;
  justify-content: space-around;
}
.descricacao-de-segmentos div {
  width: 45%;
  padding: 30px 30px 30px 30px;
  border-radius: 8px;
  box-shadow: 0 0 1em #0895d1;
  background: #191919;
  color: #fff;
  text-align: center;
}
@media (max-width: 1025px) {
  .descricacao-de-segmentos {
    flex-direction: column;
    align-items: center;
  }
  .descricacao-de-segmentos div {
    width: 78%;
    margin: 30px;
  }
}
@media (max-width: 600px) {
  .descricacao-de-segmentos div {
    width: 88%;
  }
}
.vantagens {
  background-image: url("../img/vantagens/group-of-diverse-people-having-business-meeting1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 10px;
}
.flutuante02 {
  background-color: rgba(0,0,0,0.815);
  margin-left: 15%;
  width: 29%;
}
.flutuante02 img {
  width: 60%;
}
.flutuante02 ul {
  margin-left: 14%;
}
.vantagens button {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  background-color: #0895d1;
  color: #fff;
  height: 25px;
  width: 250px;
}
@media (max-width: 1200px) {
  .flutuante02 {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 600px) {
  .flutuante02 {
    width: 70%;
  }
}
.descricacao-de-segmentos {
  display: flex;
  padding: 40px;
  justify-content: space-around;
}
.descricacao-de-segmentos div {
  width: 45%;
  padding: 30px 30px 30px 30px;
  border-radius: 8px;
  box-shadow: 0 0 1em #0895d1;
  background: #191919;
  color: #fff;
  text-align: center;
}
@media (max-width: 1025px) {
  .descricacao-de-segmentos {
    flex-direction: column;
    align-items: center;
  }
  .descricacao-de-segmentos div {
    width: 78%;
    margin: 30px;
  }
}
@media (max-width: 600px) {
  .descricacao-de-segmentos div {
    width: 88%;
  }
}
footer {
  padding: 10px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
footer img {
  margin-left: 22px;
}
