@import './default.styl'
@import './components/header.styl'
@import './components/menuDesktop.styl'
@import './components/menuSegmentos.styl'
@import './components/menuSegmentoResp.styl'
@import './components/menuResponsivo.styl'
@import './components/inicio.styl'
@import './components/sectionApresen.styl'
@import './components/sectionSegmentos.styl'
@import './components/sectionDescricaoSegmentos.styl'
@import './components/sectionVantagens.styl'
@import './components/sectionDescricaoSegmentos.styl'
@import './components/rodape.styl'

