.inicio {
  display: flex;
  justify-content: space-between;
  padding: 2% 7%;
  font-size: 1em;
}
.inicio h1 { color: #000; font: 2.6em "Hammersmith One", sans-serif; }
.inicio hr {
  width: 100px;
  height: 3px;
  border-color: #3bbbf1ff;
  background-color: #3bbbf1ff;
}
.inicio img { 
  width: 600px;
  margin-top: 70px;
}
.box-texto {
  font-size: 0.9em;
  margin-top: 4%;
  color: #000;
}
.btn-saiba {
  border: none;
  border-radius: 15px;
  width: 145px;
  height: 40px;
  font-size: 18px;
  background-color: #3bbbf1ff;
  color: #fff;
  margin-top: 30px;
}

@media(max-width: 1200px) {
  .inicio h1 {
    font-size: 2.2em;
  }

  .inicio img {
    width: 470px;
  }

  .flutuante {
    min-width: 55%;
    margin-left: 22%;
  }

  .flutuante02 {
    width: 60%;
    margin-left: 20%;
  }
}

@media(max-width: 1200px) {
  .inicio h1 {
    font-size: 2.2em;
  }

  .inicio img {
    width: 470px;
  }
}

@media (max-width: 1025px) {
  .inicio {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    margin-top: 40px;
  }
}
