.menu-segmentos {
    display: none
    position: absolute;
    margin-top: 57px;
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: #000;

    a:hover {
        background-color:  #000000FF
        color: blue
    }
}

