.vantagens {
  background-image: url('../img/vantagens/group-of-diverse-people-having-business-meeting.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 10px;
}

.flutuante02 {
  background-color: rgba(0, 0, 0, 0.815);
  margin-left: 15%;
  width: 29%;

  img { width: 60%; }
  ul { margin-left: 14%; }
}

.vantagens button {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  background-color: rgb(8, 149, 209);
  color: #fff;
  height: 25px;
  width: 250px;
}

@media(max-width: 1200px) {
  .flutuante02 {
    width: 60%;
    margin-left: 20%;
  }
}

@media(max-width: 600px) {
   .flutuante02 {
    width: 70%;
  }
}